<ion-content class="h-screen relative">
    <div class="min-h-screen p-4 pb-24" style="background-color: var(--background); color: var(--text-black);">


        <header class="min-h-[15vh] flex flex-col items-center pt-6 mb-6">
            <h1 class="uppercase text-5xl font-bold text-center">neon party</h1>
            <h2 class="capitalize text-2xl font-semibold">14 diciembre</h2>
            <h3 class="uppercase text-base text-slate-400 font-semibold">9 PM - 2 AM</h3>
    
        </header>
    
        <input type="text" class="label min-h-12" placeholder="Search">

        <div class="flex flex-row items-center justify-between py-4 text-md">
            <p class="font-semibold text-gray-300">364 Asistentes confirmados</p>

            <div>
                
                <ion-icon name="eye" *ngIf="show" class="text-xl" style="color: var(--primary);"></ion-icon>
                <ion-icon name="eye-off" *ngIf="!show" class="text-xl" style="color: var(--primary);"></ion-icon>
            </div>
        </div>

    </div>
</ion-content>
