<!-- Bottom Navigation -->
<nav
class="fixed bottom-[-1px] left-0 w-full p-4 flex justify-around items-center shadow-lg duration-300 z-50 "
[ngStyle]="{
  backgroundColor: 'var(--background)'
}"
>
  <a routerLink="/app/page/home">
    <button class="flex flex-col items-center gap-1 ">
      <ion-icon [icon]="calendarIcon" class="text-2xl" style="color: var(--primary)"></ion-icon>
      <span class="text-xs" style="color: var(--primary)">Home</span>
    </button>
  </a>

  <a routerLink="/app/page/create-event">
    <button class="flex flex-col items-center gap-1">
      <ion-icon [icon]="gridIcon" class="text-2xl" style="color: var(--primary)"></ion-icon>
      <span class="text-xs" style="color: var(--primary)">New</span>
    </button>
  </a>


  <button class="flex flex-col items-center gap-1">
    <ion-icon [icon]="searchIcon" class="text-2xl" style="color: var(--primary)"></ion-icon>
    <span class="text-xs" style="color: var(--primary)">Search</span>
  </button>

  
  <a routerLink="/app/page/profile/benito" (click)="link()">
    <button class="flex flex-col items-center gap-1" >
      <ion-icon [icon]="menuIcon" class="text-2xl" style="color: var(--primary)"></ion-icon>
      <span class="text-xs" style="color: var(--primary)">Profile</span>
    </button>
  </a>
</nav>