<div class="relative w-full  flex flex-col items-center justify-start pt-4">
  <!-- Título -->
  <p class="text-gray-400 font-semibold mb-6">¡Sé parte de la historia!</p>

  <!-- Círculo con ícono -->
  <div class="relative">
    <!-- Círculo -->
    <div class="bg-color-primary rounded-full w-28 h-28 flex items-start pt-2 justify-center z-10">
      <ion-icon name="camera" class="text-6xl text-white"></ion-icon>
    </div>
    <!-- Cuadro que se extiende desde el círculo -->
    <div class="absolute top-16 left-[-37vw] w-[103vw] bg-color-primary flex flex-col items-center pt-3 font-semibold text-center text-white pb-24" >
      <p>Agrega una memoria</p>

      <p class="pt-6 font-normal text-xs text-gray-400 px-[10vw]">Las memorias son imágenes que se compartirán con todos los asistentes de la fiesta 24 horas después de haberse terminado.</p>
    </div>
  </div>
</div>
