<ion-content
  class="h-screen relative"
  (ionScroll)="onScroll($event)"
  scroll-events="true"
>
  <!-- Sticky Header -->
  <div
    class="sticky top-0 z-50 transition-transform duration-300"
    [ngStyle]="{
      transform: isHeaderVisible ? 'translateY(0)' : 'translateY(-60%)',
      backgroundColor: 'var(--background)'
    }"
  >
    <!-- Header -->
    <div class="flex justify-between items-center px-4 pt-4">
      <div>
        <div class="text-sm" style="color: var(--text-muted)">MONDAY, DEC 21</div>
        <h1 class="text-2xl font-bold" style="color: var(--font-black)">Events</h1>
      </div>
      <ion-avatar>
        <img src="/assets/placeholder.svg" alt="Profile" />
      </ion-avatar>
    </div>

    <!-- Search Bar -->
    <div class="flex items-center px-4 py-2 space-x-2">
      <input
        type="text"
        placeholder="Search events..."
        class="label flex-grow p-3 focus:outline-none"
      />
      <!-- <button
        (click)="toggleFilters()"
        class="p-3 rounded-xl"
        style="background-color: var(--primary); color: var(--font-white)"
      >
        <ion-icon [icon]="chevronDownIcon"></ion-icon>
      </button> -->

      <app-drop-down classes="bg-color-primary hover:bg-indigo-700 text-white "/>

    </div>
  </div>


  <div class="px-5">

    <app-card-primary [day]="'12'" [month]="'DEC'" [id]="'U8CJ3O'" event=""/>
  </div>

  <!-- Near You -->
  <div class="px-4 space-y-4 pt-4">
    <h3 class="text-lg font-semibold" style="color: var(--font-black)">Near You</h3>
    <div class="grid grid-cols-2 gap-4">
      <!-- Cards -->
      <div
        *ngFor="let event of events"
        class="relative rounded-2xl overflow-hidden shadow-lg"
        style="background-size: cover; background-position: center;"
      >
      
        <!-- Gradiente para sombra interna -->
        <!-- <div
          class="absolute bottom-0 left-0 w-full h-1/2"
          style="
            background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
          "
        ></div>
        <div class="relative p-4 z-10">
          <div class="flex justify-end">
            <div
              class="rounded-lg text-center p-2 shadow"
              style="background-color: var(--card-bg); color: var(--font-black)"
            >
              <div class="font-bold">14</div>
              <div class="text-xs">DEC</div>
            </div>
          </div>
          <div class="mt-12">
            <div
              class="text-sm"
              style="color: var(--text-muted); text-shadow: 0 2px 4px var(--text-shadow-dark);"
            >
              Celaya, México
            </div>
            <h3
              class="font-bold"
              style="color: var(--font-white); text-shadow: 0 2px 4px var(--text-shadow-dark);"
            >
              Neon Party
            </h3>
          </div>
        </div> -->

        <app-card-primary [day]="event.date | formatDate:'day'" 
        [month]="event.date | formatDate:'month'" 
        [image]="event.cover"
        [name]="event.name"
        [imageFormat]="event.imageFormat"
        [size]="'sm'"
        [id]="event.id"
        [event]="event"
        />

      </div>
    </div>
  </div>


  <div class="bottom-spacing"></div>

  <!-- <app-navbar/> -->

</ion-content>
